@charset "UTF-8";
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
  font-family: var(--font-headings-stack);
  line-height: 1.15;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.6rem;
}

h3, .h3 {
  font-size: 2.2rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.4rem;
}

.main-heading {
  font-family: var(--font-headings-stack);
  font-size: 2.8rem;
  color: #222222;
  line-height: 1.115;
  font-weight: bold;
}
@media (min-width: 768px) {
  .main-heading {
    font-size: 3.6rem;
  }
}

.secondary-heading {
  position: relative;
  font-family: var(--font-headings-stack);
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2rem;
}

.tertiary-heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: var(--font-headings-stack);
  color: var(--primary-color);
  position: relative;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .tertiary-heading {
    font-size: 4rem;
  }
}

.lead {
  font-size: 1.8rem;
}

.small {
  font-size: 1.4rem;
}

.rte,
.post-entry {
  line-height: 1.65;
}
.rte > *,
.post-entry > * {
  margin: 0 0 2.5rem;
}
.rte > *:last-child,
.post-entry > *:last-child {
  margin-bottom: 0;
}
.rte h3,
.post-entry h3 {
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.rte h2 + *,
.post-entry h2 + * {
  margin-top: 0;
}
.rte strong,
.rte b,
.post-entry strong,
.post-entry b {
  font-weight: bold;
}
.rte em,
.rte i,
.post-entry em,
.post-entry i {
  font-style: italic;
}
.rte ul,
.post-entry ul {
  list-style: none;
}
.rte ul li,
.post-entry ul li {
  padding-left: 2rem;
  position: relative;
}
.rte ul li:not(:first-child),
.post-entry ul li:not(:first-child) {
  margin-top: 0.7rem;
}
.rte ul li::before,
.post-entry ul li::before {
  content: "·";
  color: #b4b4b4;
  font-size: 3.6rem;
  margin-right: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 0.7;
}
.rte ul ul,
.rte ul ul ul,
.post-entry ul ul,
.post-entry ul ul ul {
  margin: 0.7rem 0 0;
}
.rte ol,
.post-entry ol {
  counter-reset: item-counter;
}
.rte ol > li,
.post-entry ol > li {
  counter-increment: item-counter;
}
.rte ol li,
.post-entry ol li {
  padding-left: 2.5rem;
  position: relative;
}
.rte ol li:not(:first-child),
.post-entry ol li:not(:first-child) {
  margin-top: 0.7rem;
}
.rte ol li::before,
.post-entry ol li::before {
  content: counter(item-counter) ". ";
  font-size: 2rem;
  color: var(--primary-color);
  font-family: var(--font-headings-stack);
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.2;
}
.rte ol ol,
.rte ol ol ol,
.post-entry ol ol,
.post-entry ol ol ol {
  margin: 0.7rem 0 0;
}
.rte ol ul,
.post-entry ol ul {
  color: #9a9a9a;
  margin-top: 2rem;
}
.rte ol ul li,
.post-entry ol ul li {
  padding-left: 4rem;
  font-weight: 400;
}
.rte ol ul li::before,
.post-entry ol ul li::before {
  content: "·";
  background: transparent;
  color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
}
.rte blockquote,
.post-entry blockquote {
  font-style: normal;
  color: #ccc;
  border-left: 0.3rem solid var(--primary-color);
  padding-left: 3rem;
}
.rte blockquote > *,
.post-entry blockquote > * {
  margin: 0;
}
.rte blockquote cite,
.post-entry blockquote cite {
  display: block;
  margin-top: 1rem;
}
.rte cite,
.post-entry cite {
  font-size: smaller;
  font-style: normal;
}
.rte figcaption,
.post-entry figcaption {
  color: #64748b;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
.rte mark,
.post-entry mark {
  background: yellow;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}
.rte code,
.post-entry code {
  background-color: rgba(68, 68, 68, 0.2);
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}
.rte pre,
.post-entry pre {
  border: 0.1rem solid rgba(68, 68, 68, 0.2);
  border-radius: 0.3rem;
  padding: 2rem;
  overflow-x: auto;
  background: #444;
  color: #fff;
}
.rte pre code,
.post-entry pre code {
  background: transparent;
}
.rte hr,
.post-entry hr {
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  opacity: 0.3;
}
.rte img,
.post-entry img {
  max-width: 100%;
  display: block;
  height: auto;
}
.rte table,
.post-entry table {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  border-collapse: collapse;
}
.rte thead,
.post-entry thead {
  border-bottom: 1px solid #e6e6e6;
}
.rte tr:not(:first-child),
.post-entry tr:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}
.rte tr:hover td,
.post-entry tr:hover td {
  background: #fafafa;
}
.rte th,
.rte td,
.post-entry th,
.post-entry td {
  padding: 1rem;
}
.rte th,
.post-entry th {
  font-weight: bold;
}
.rte td,
.post-entry td {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rte .float-left,
.post-entry .float-left {
  float: left;
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.rte .float-right,
.post-entry .float-right {
  float: right;
  margin: 1.5rem 0 1.5rem 1.5rem;
}
.rte .callout,
.post-entry .callout {
  padding: 2rem;
  background: #f0eedf;
  color: #110b04;
  position: relative;
  border-radius: 0.5rem;
}