/** 
 * Aka Helpers
 */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
      hyphens: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Misc Global Classes
------------------------------------------ */