.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  background: var(--layout-bg);
  background-attachment: fixed;
}
.wrapper .auth-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}